main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
  }

  body {
	background: #ccc url(img/red.jpg) no-repeat center top;
	background-size: cover;
  }


@media (max-width: 600px) {
	body {
		background: skyblue;

	}
}

